# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# Logs
# ========================
*.log
logs/

# ========================
# Environment
# ========================
.env
.env.*

# ========================
# Java / Gradle
# ========================
.gradle/
build/
*.class

# ========================
# Node
# ========================
node_modules/
.next/
dist/
out/

# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# ========================
# IDEs
# ========================
.idea/
.vscode/
*.iml

# ========================
# Docker
# ========================
docker-data/
